# Собственные исключения проекта
CryptorEngine.cs

# Папки с результатами сборки (Бинарники)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Файлы настроек пользователя Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Файлы кэша и временные файлы Visual Studio
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Резервные копии и временные файлы
*.bak
*.tmp
*~

# Файлы операционной системы
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Папки NuGet (если используете)
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Логи работы программы (если вы их сохраняете локально)
*.log
sync_error_log.txt